@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@300;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #4B8078;
}

li {
    font-size: 1.25rem;
    padding: 5px 5px;
    list-style-type: none;
}

h1, h2 {
    font-family: Raleway, sans-serif;
    letter-spacing: 0px;
    font-weight: 600;
    color: #005248;
    padding-top: 5px;
}

hr {
    text-align: center;
    width: 70%;
    margin: auto;
    border-top: 1px solid gray;
}

.buttons {
    border-radius: 9%;
    background-color: #4B8078;
    padding: 11px 20px; 
    margin: 0 8px 0;
    display: inline;
}

/* headings and logo */

header{
    background-color: #FFA85C;
}

#logo {
    text-align: center;
    text-decoration: none; 
    text-transform: uppercase;
}

#logo h1 {
    padding-top: 10px;
}

.table {
    display: table;
    margin: 0 auto;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 0px;
}

#menu li {  
    display: inline-block;
    margin: 0px 5px;
    padding: 0 5px 5px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu, #logo {
    line-height: 35px;
    
}

#menu a:hover{
    border-bottom: 1px solid #4b8078;
}

.active {
    border-bottom: 1px solid #4b8078;
}

/* hero image */

#hero-image {
    height: 500px;
    width: 100%;
    background-image: url('../images/hero-image.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

/* hero image content */

#hero-image h2 {
    text-align: center;
    padding-top: 30px;
}

#hero-image h3 {
    text-align: center;
    padding: 25px 50px;
}

#hero-image a {
    text-decoration: none;
    color: #DFE0DF;
}

.buttons-box {
    text-align: center;
    position: absolute;
    bottom: 20%;
    text-align: center;
    width: 100%;
}

.buttons:hover {
    background-color: #005248;
}

/* about us */

#why-us {
    background-color: #DFE0DF;
    width: 100%;
}

.why-us-content {
    text-align: center;
    padding: 5px 10px;
}

i {
    font-size: 1.5rem;
}

/* google map */
#map-box {
    position: relative;
    width: 100%;
    padding-top: 75%;
}
.map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
#map-frame {
    padding: 10px 20px 20px;
    background-color: #4B8078;
}
#map-frame h3 {
    color: #DFE0DF;
    text-align: center;
    padding-bottom: 10px;
}

/* footer */

footer {
    background-color: #FFA85C;
    height: 50px;
    padding-top: 15px;
}

.social-links {
    text-align: center;
}

footer li {
    display: inline;
}

.social-links i {
    font-size: 160%;
    color: #005248;
    padding: 0 5%;
}

/* locations gallery */

#gallery {
    background-color: #DFE0DF;
    width: 100%;
}

.gallery-box {
    padding: 20px;
    text-align: center;
}

.gallery-box img {
    width: 100%;
}

.gallery-box h3 {
    padding: 10px 0;
}

.location-button-box {
    width: 100%;
    text-align: center;
    height: 100px;
    padding-top: 40px;
}

.location-button-box a {
    text-decoration: none;
    color: #DFE0DF;
}

/* bookings page */

#form-section {
    background-image: url('../images/background-img.png');
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 10px;
}
.booking-form {
    margin: auto;
    color: #005248;
    background-color: rgba(211, 205, 205, 0.664);
    max-width: 280px;
    padding: 15px;
}

form button {
    color: #DFE0DF;
}

#submit-button {
    text-align: center;
}

form h2,p {
    padding: 5px 0;
}

#form-h2 {
    text-align: center;
}
.text-input {
    width: 100%;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}

/* For medium screen sizes from 750px wide and up */
@media only screen and (min-width: 750px) {
    
    /* Navbar */
    .table {
        display: unset;
        margin: unset;
        }
    #menu {
        float: right;
        padding-right: 25px;
    }
    
    #logo {
        float: left; 
    }

    #logo h1 {
        padding: 0 25px;
    }
    header {
        padding: 15px 0 50px;
    }

    #menu li {
        font-size: 1.5rem;
    }

    /* Index page headings */
    .headings-box {
        background-color: rgba(211, 205, 205, 0.664);
        margin: 0 33%;
    }
    #hero-image {
        padding-top: 20px;
    }

    /* index page content */
    #map-frame {
        padding: 0;
        padding-bottom: 46.4px;
    }
    #why-us, #hero-image, #map-box, #map-frame {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    #why-us {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #map-frame h3 {
        padding: 10px;
    }

}
