@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@300;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #4B8078;
}

/* headings and logo */
header{
    background-color: #FFA85C;
}

h1, h2 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: 600;
    color: #005248;
    padding-top: 5px;
}

#logo {
    text-align: center;
    text-decoration: none; 
}

.table {
    display: table;
    margin: 0 auto;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 0px;
}

#menu li {  
    display: inline-block;
    list-style: none;
    margin: 0px 5px;
    padding-bottom: 5px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu, #logo {
    line-height: 35px;
    
}

#menu a:hover{
    border-bottom: 1px solid #4b8078;
}

.active {
    border-bottom: 1px solid #4b8078;
}

/* hero image */

#hero-image {
    height: 500px;
    width: 100%;
    background-image: url('../images/hero-image.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* hero image content */

#hero-image h2 {
    text-transform: none;
    text-align: center;
    padding-top: 10px;
}

#hero-image p {
    text-align: center;
    padding-top: 10px;
}