@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@300;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #4B8078;
}

li {
    font-size: 1.25rem;
    padding: 5px 5px;
}

h1, h2 {
    font-family: Raleway, sans-serif;
    letter-spacing: 0px;
    font-weight: 600;
    color: #005248;
    padding-top: 5px;
}

/* headings and logo */

header{
    background-color: #FFA85C;
}

#logo {
    text-align: center;
    text-decoration: none; 
    text-transform: uppercase;
}

#logo h1 {
    padding-top: 10px;
}

.table {
    display: table;
    margin: 0 auto;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 0px;
}

#menu li {  
    display: inline-block;
    list-style: none;
    margin: 0px 5px;
    padding: 0 5px 5px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu, #logo {
    line-height: 35px;
    
}

#menu a:hover{
    border-bottom: 1px solid #4b8078;
}

.active {
    border-bottom: 1px solid #4b8078;
}

/* hero image */

#hero-image {
    height: 500px;
    width: 100%;
    background-image: url('../images/hero-image.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

/* hero image content */

#hero-image h2 {
    text-align: center;
    padding-top: 30px;
}

#hero-image h3 {
    text-align: center;
    padding: 25px 50px;
}

.buttons {
    border-radius: 50%;
    background-color: #4B8078;
    padding: 11px 20px; 
    margin: 0 8px 0;
    display: inline;
}

#hero-image a {
    text-decoration: none;
    color: #DFE0DF;
}

.buttons-box {
    text-align: center;
    position: absolute;
    bottom: 20%;
    text-align: center;
    width: 100%;
}

.buttons:hover {
    background-color: #005248;
}

/* about us */

#why-us {
    background-color: #DFE0DF;
    width: 100%;
}

.why-us-content {
    text-align: center;
    padding: 5px 10px;
}

i {
    font-size: 1.5rem;
}

/* google map */
#map-box {
    position: relative;
    width: 100%;
    padding-top: 75%;
}
.map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
#map-frame {
    padding: 10px 20px 20px;
    background-color: #4B8078;
}
#map-frame h3 {
    color: #DFE0DF;
    text-align: center;
    padding-bottom: 10px;
}

/* footer */

footer {
    background-color: #FFA85C;
    height: 50px;
    padding-top: 15px;
}

.social-links {
    text-align: center;
}

footer li {
    display: inline;
}

.social-links i {
    font-size: 160%;
    color: #005248;
    padding: 0 5%;
}

/* locations gallery */

#gallery {
    background-color: #DFE0DF;
}

.gallery-box {
    padding: 20px;
}

.gallery-box img {
    width: 100%;
}